body {
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

.wrapper-main {
	width: 75%;
	margin: 0 auto;
}

/* Header section */
.header {

}

/* Content section */
.content {

}

/* Footer section */
.footer {
	font-size: 2em;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	background-color: #00396E;
	color: #FFFFFF;
	padding: 30px 30px 40px;
}
