body {
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

.wrapper-main {
	width: 75%;
	margin: 0 auto;
}

/* Header section */
.header {

}

/* Content section */
.content {

}

/* Footer section */
.footer {

}
